<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A0</key>
	<array>
		<string>B1</string>
		<string>C2</string>
		<string>D3</string>
		<string>E4</string>
		<string>F7</string>
		<string>G8</string>
	</array>
	<key>A1</key>
	<array>
		<string>A1</string>
		<string>B2</string>
		<string>C3</string>
		<string>D4</string>
		<string>E7</string>
		<string>F8</string>
	</array>
	<key>A2</key>
	<array>
		<string>A2</string>
		<string>B3</string>
		<string>C4</string>
		<string>D7</string>
		<string>E8</string>
		<string>G1</string>
	</array>
	<key>A3</key>
	<array>
		<string>A3</string>
		<string>B4</string>
		<string>C7</string>
		<string>D8</string>
		<string>F1</string>
		<string>G2</string>
	</array>
	<key>A4</key>
	<array>
		<string>A4</string>
		<string>B7</string>
		<string>C8</string>
		<string>E1</string>
		<string>F2</string>
		<string>G3</string>
	</array>
	<key>A5</key>
	<array>
		<string>A5</string>
		<string>B5</string>
		<string>C5</string>
		<string>D5</string>
		<string>E5</string>
		<string>F5</string>
		<string>G5</string>
	</array>
	<key>A6</key>
	<array>
		<string>A6</string>
		<string>B6</string>
		<string>C6</string>
		<string>D6</string>
		<string>E6</string>
		<string>F6</string>
		<string>G6</string>
	</array>
	<key>A7</key>
	<array>
		<string>A7</string>
		<string>B8</string>
		<string>D1</string>
		<string>E2</string>
		<string>F3</string>
		<string>G4</string>
	</array>
	<key>A8</key>
	<array>
		<string>A8</string>
		<string>C1</string>
		<string>D2</string>
		<string>E3</string>
		<string>F4</string>
		<string>G7</string>
	</array>
</dict>
</plist>
