<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
	<key>B</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
	<key>C</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
	<key>D</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
	<key>E</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
	<key>F</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
	<key>G</key>
	<dict>
		<key>1</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>2</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>3</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>4</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>5</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>6</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>7</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
		<key>8</key>
		<dict>
			<key>className</key>
			<string>OFF</string>
			<key>teacherName</key>
			<string></string>
			<key>locationName</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
