<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A1</key>
	<string>A1</string>
	<key>A2</key>
	<string>A2</string>
	<key>A3</key>
	<string>A3</string>
	<key>A4</key>
	<string>A4</string>
	<key>A5</key>
	<string>A5</string>
	<key>A6</key>
	<string>A6</string>
	<key>A7</key>
	<string>A7</string>
	<key>A8</key>
	<string>A8</string>
	<key>B1</key>
	<string>A0</string>
	<key>B2</key>
	<string>A1</string>
	<key>B3</key>
	<string>A2</string>
	<key>B4</key>
	<string>A3</string>
	<key>B5</key>
	<string>A5</string>
	<key>B6</key>
	<string>A6</string>
	<key>B7</key>
	<string>A4</string>
	<key>B8</key>
	<string>A7</string>
	<key>C1</key>
	<string>A8</string>
	<key>C2</key>
	<string>A0</string>
	<key>C3</key>
	<string>A1</string>
	<key>C4</key>
	<string>A2</string>
	<key>C5</key>
	<string>A5</string>
	<key>C6</key>
	<string>A6</string>
	<key>C7</key>
	<string>A3</string>
	<key>C8</key>
	<string>A4</string>
	<key>D1</key>
	<string>A7</string>
	<key>D2</key>
	<string>A8</string>
	<key>D3</key>
	<string>A0</string>
	<key>D4</key>
	<string>A1</string>
	<key>D5</key>
	<string>A5</string>
	<key>D6</key>
	<string>A6</string>
	<key>D7</key>
	<string>A2</string>
	<key>D8</key>
	<string>A3</string>
	<key>E1</key>
	<string>A4</string>
	<key>E2</key>
	<string>A7</string>
	<key>E3</key>
	<string>A8</string>
	<key>E4</key>
	<string>A0</string>
	<key>E5</key>
	<string>A5</string>
	<key>E6</key>
	<string>A6</string>
	<key>E7</key>
	<string>A1</string>
	<key>E8</key>
	<string>A2</string>
	<key>F1</key>
	<string>A3</string>
	<key>F2</key>
	<string>A4</string>
	<key>F3</key>
	<string>A7</string>
	<key>F4</key>
	<string>A8</string>
	<key>F5</key>
	<string>A5</string>
	<key>F6</key>
	<string>A6</string>
	<key>F7</key>
	<string>A0</string>
	<key>F8</key>
	<string>A1</string>
	<key>G1</key>
	<string>A2</string>
	<key>G2</key>
	<string>A3</string>
	<key>G3</key>
	<string>A4</string>
	<key>G4</key>
	<string>A7</string>
	<key>G5</key>
	<string>A5</string>
	<key>G6</key>
	<string>A6</string>
	<key>G7</key>
	<string>A8</string>
	<key>G8</key>
	<string>A0</string>
</dict>
</plist>
